body {
  font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

.flot-container-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 52.94%;
}

.flot-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  /* width: 850px; */
  /* height: 450px; */
  /* padding: 20px 15px 15px 15px;
     margin: 15px auto 30px auto; */
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-description{
  margin: 15px 0 0 0;
}

.flot-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

#js-editor {
  height: 100%;
}

.CodeMirror {
  border: 2px solid #aaa;
  height: 100%;
  font-size: smaller;
}

/*
  WARNING: With the following part, we void some responsiveness of bootstrap.
  Currently the following part is not used. 
*/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

